  <div class="nested-fields">
    <div class="field">
      <%= f.text_area :text, placeholder: :作り方, class: :form__text %>
      <%= f.file_field :image %>
    </div>
    <%= link_to_remove_association "remove recipelists", f %>
    
  </div>
