.recipeManage{
  display: flex;
  justify-content: flex-end;
  width: 60%;
  margin: 0 auto;
  .recipeManage__edit{
    text-decoration: none;
    color: white;
    padding-right: 20px;
    font-size: 1.2em;
    width: 10%;
    font-size: 1vw;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 8px 10px 5px 10px;
    text-decoration: none;
    color: rgb(61, 42, 9);
    background: #f8b13e;
    border-bottom: solid 4px rgb(192, 123, 5);
    border-radius: 15px 15px 0 0;
    transition: .4s;
    text-align: center;
}
  .recipeManage__delete{
    text-decoration: none;
    color: white;
    padding-right: 20px;
    font-size: 1.2em;
    background-color:#55340c;
    width: 10%;
    font-size: 1vw;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 8px 10px 5px 10px;
    text-decoration: none;
    color: rgb(255, 240, 214);
    background: #6b4200;
    border-bottom: solid 4px rgb(36, 23, 0);
    border-radius: 15px 15px 0 0;
    transition: .4s;
    text-align: center;
  

  }
 }


.show--wrapper{
  width: 60%;
  // height: 100%;
  margin: 0 auto;
  background-color:white;
  border: yellow;
  border: double 5px #d89f36;
  .top--wrapper{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top: 20px;

   .top--wrapper__left{
     position: relative;
     width: 50%;

     .top--wrapper__left__recipename{
        font-size: 2vw;
        // padding-bottom: 20px;
        position: relative;
        // padding-bottom: 0.5em;
     }
     .top--wrapper__left__recipename:after{
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      width: 100%;
      height: 7px;
      box-sizing: border-box;
      border-top: 3px solid #f5d6a8;
      border-bottom: 1px solid #fff0c6;
      
     }


     .postAuthor{
        font-size: 1.5vw;

       .nickname-deco{
         text-decoration: none;
         color: black;
       }
     }

     &__time{
      display: flex;
      justify-content: space-around;
    }

     .top--wrapper__left__oneword{
        position: relative;
        margin: 2em 0 2em 40px;
        padding: 8px 15px;
        background: #fff0c6;
        border-radius: 30px;
        width: 80%;
        font-size: 1vw;
     }
     .top--wrapper__left__oneword:before{
        font-family: FontAwesome;
        content: "\f111";
        position: absolute;
        font-size: 15px;
        left: -40px;
        bottom: 0;
        color: #fff0c6;
     }
     .top--wrapper__left__oneword:after{
        font-family: FontAwesome;
        content: "\f111";
        position: absolute;
        font-size: 23px;
        left: -23px;
        bottom: 0;
        color: #fff0c6;

     }
     .top--wrapper__left__oneword:empty{
       display: none;
     }

     .top--wrapper__left__likewrapper{
       display: flex;
       justify-content: space-around;
       position: absolute;
       bottom: 0;
       width: 100%;
       
       .top--wrapper__left__likewrapper__count{
       }
       .top--wrapper__left__likewrapper__btn{
        // width: 70px;
        border-radius: 10px;
        border: solid 2px;
        width: 80px;
        border-color:rgb(255, 230, 0);
        text-decoration: none;
        width: 125px;
        text-align: center;

        // height: 50px;
        // background: url(http://nelog.jp/wp-content/uploads/2016/03/star_animation.png) no-repeat;
        background-position: 0 0;
        cursor: pointer;
        .likebtn{
          color: blue;
          .fas.fa-star{
            color: rgb(255, 230, 0);
          }  
        }
        .unlikebtn{
          color: rgb(17, 0, 255);
          .far.fa-star{
            color: rgb(17, 0, 255);
          }
        }

       }



       .top--wrapper__left__likewrapper__btn:hover{
        background-position: -3519px 0;
        -webkit-transition: background 1s steps(55);
        transition: background 1s steps(55);
      
       }



     }
   }
   .top--wrapper__right{
     .top--wrapper__right__photo{
      max-width: 100%;
      height: auto;

       .photosize{
        max-width: 370px;
        // height: auto;
        background-repeat:  no-repeat;
        background-position: center center;
        width:auto;
        height:300px;
       }
     }
     &__created{
      float: right;
     }
   } 
  }
  .middle--wrapper{
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    &__left{
      width: 40%;
      &__top{
        display: flex;
        justify-content: space-between;
        // position: relative;
        border-bottom: solid 3px #f5d6a8;
        position: relative;
        &__text{
          font-size: 2vw;
          // background: linear-gradient(transparent 70%, #a7d6ff 70%);
        }
        &__serve{
          // position: fixed;
          // bottom: 0;
          padding-top: 15px;
        }
      }
      &__top:after{
        position: absolute;
        content: " ";
        display: block;
        border-bottom: solid 3px #e4aa2d;
        bottom: -3px;
        width: 20%;
      }
      &__ingre{
        display: flex;
        justify-content: space-between;
        width: 80%;
        font-size: 1vw;

        
        &__iname{
          font-size: 19px;
        }
        &__amount{
          font-size: 19px;

        }
      }
    }
    &__right{
      width: 40%;

      &__top{
        border-bottom: solid 3px #f5d6a8;
        padding-top: 9px;
        padding-bottom: 11px;
        font-size: 1vw;
        // display: inline-block;
        // display: flex;
        // justify-content: space-between;
        #keyword{
          width: 15%;
          border-radius: 3px;
          border: solid 2px #f6b68c;

          // display: flex;
          // justify-content: space-between;
  
        }
        #keyword:focus{
          outline: 0;

        }
        #button {
          display: inline-block;
          text-decoration: none;
          color: #f6b68c;
          border: solid 2px #f6b68c;
          border-radius: 3px;
          transition: .4s;
          // width: 40%;
        }
        
        #button:hover {
          background: #f6b68c;
          color: white;
        }
        #button:focus{
          outline: 0;
        }
        .note{
          padding-left: 16px;
          font-size: 0.7vw;
        }
        
      }
      &__calcamount{
        .result{
          font-size: 19px;

        }
      }
    }
  }
  .bottom--wrapper{
    height: 100%;
    width: 90%;
    margin: 0 auto;

    &__howto{
      font-size: 2vw;
      border-bottom: solid 3px #f5d6a8;
      position: relative;
      padding-top: 9px;



    }
    &__howto:after{
      position: absolute;
      content: " ";
      display: block;
      border-bottom: solid 3px #e4aa2d;
      bottom: -3px;
      width: 13%;
    }
    &__wrapper{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-top: 20px;
      &__list{
        width: 30%;
        &__count{
          font-size: 20px;
          padding-bottom: 10px;

        }
        &__image{
          .photolist{
            width: 100%;
            height: 190px;
            object-fit: cover;
            padding: 11px;
            background-color: #FFFFFF;
            box-shadow: 0 3px 18px -4px rgba(0, 0, 0, 0.8);

          }
          .photolist:empty{
            text-decoration: none;
          }

        }
        &__text{
          border: 4px solid #82636b;
          border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
          margin: 2em 0;
          padding: 0.6em;
        }
        &__text.nomal{
          word-wrap: break-word;
        }
      }
    }
    .point1{
      font-size: 1.5em;
      padding-left: 20px;
      padding-top: 40px;
    }
      
    .point{
      margin-bottom: 2em;
      position: relative;
      padding: 0.5em 1.5em;
      border-top: solid 2px black;
      border-bottom: solid 2px black;
      &--main{
        font-size: 1em;
        margin: 0; 
        padding: 0;
      }
    }
    .point:before, .point:after{
      content: '';
      position: absolute;
      top: -10px;
      width: 2px;
      height: -webkit-calc(100% + 20px);
      height: calc(100% + 20px);
      background-color: black;
    }

    .point:before {left: 10px;}
    .point:after {right: 10px;}
    
  }
}
