.index--wrapper{
  display: flex;
  flex-wrap: wrap;
  // padding-left: 8%;
  // padding-right: 8%;
  margin: 0 auto;
  width: 90%;
  .recipe--wrapper{
    height: 372px;
    width: 275px;
    background-color: blue($color: #000000);
    margin: 0 auto;
    margin-bottom: 45px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    margin-right: 20px;




    &__photo{
      height: 275px;
      width: 100%;
      .photosize{
        height: 275px;
        width: 100%;
        // background-image: 100%;
        // image-rendering: auto;
        // image-rendering: crisp-edges;
        // image-rendering: pixelated;
        // max-width: 100%;
        // height: auto;
        // object-fit: cover;

        

      }
        
      
    }

    &__recipe{
      background-color: white;
      height: 97px;
      &__name{
        display: flex;
        justify-content: space-between;
        &__recipename{
          .title-deco{
            text-decoration: none;
            color: #2c2424;
            font-style: italic;
            font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
            padding-left: 16px;
            font-size: 15px;

          }
        }
        &__nickname{
          .nickname-deco{
            text-decoration: none;
            color: black;
            padding-right: 16px;
            font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;

          }
        }
      }

      &__oneword{
        height: 50px;
        font-size: 0.6em;
        padding-left: 16px;
        font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;


      }
      &__bottom{
        display: flex;
        justify-content: space-between;
        &__like{
          font-size: 13px;
          padding-left: 16px;
          font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;


        }

        &__time{
          font-size: 13px;
          padding-right: 16px;
          font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;


        }
      }
      
    }

  }

}