.new--wrapper{
  width: 45%;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  a{
    color: black;
    text-decoration: none;
    border: solid 2px black;
  }

  &__top{
    font-size: 2em;
    position: relative;
    width: 100%;


  }
  &__top:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 50%;
    height: 7px;
    box-sizing: border-box;

    border-top: 3px solid #f5d6a8;
    border-bottom: 1px solid #fff0c6;

  }
  .recipe-normal{

    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.2em;
  }

  .form{
    padding: 0 20px;
  }

  &__recipeinfo{
    border: solid 3px #f5d6a8;

    &__title{
      padding-bottom: 40px;


    }
    .form__title{
      width: 80%;
    }
    &__serve{
      padding-bottom: 40px;

      .heading-serve{

      }
      .form__serving{
        width: 80%;
      }
    }
    &__ByEatTime{
      padding-bottom: 20px;

      .heading-ByEatTime{

      }
      .form__time{
        width: 80%;
      }
    }
    &__WorkTime{
      padding-bottom: 40px;

      .heading-WorkTime{

      }
      .form-time{
        width: 80%;
      }
    }
    &__oneword{
      padding-bottom: 40px;

      .heading-oneword{

      }
      .form__oneword{
        width: 80%;
        height: 4em;

      }
    }
    &__point{
      padding-bottom: 40px;

      .heading-point{

      }
      .form__point{
        width: 80%;
        height: 6em;

      }
    }
    &__image{
      padding-bottom: 40px;

      .heading-image{

      }
      .form__image{
        width: 80%;
      }
    }
  }

  .WayOfCook{
    font-size: 1.3em;
    padding-top: 30px;
  }

  &__HowToMake{
    padding-bottom: 40px;
    border: solid 3px #f5d6a8;

    .nested-fields{
      .field{
        .heading-howto{
          padding-top: 40px;

        }
        .form__text{
          width: 80%;
          height: 4em;
        }
        .heading-howto-image{
          padding-top: 20px;
        }
      }
      .remove-btn{
        padding-top: 40px;
 
      }
    }
    .links{
      padding-top: 20px;
      padding-bottom: 20px;
      text-decoration: none;

    }
  }

  .topIngredients{
    padding-top: 40px;
    font-size: 1.3em;
  }

  &__ingredi{
    padding-bottom: 40px;
    border: solid 3px #f5d6a8;


    .nested-fields{
      .field{
        .heading-iname{
          
        }
        .form__text{
          width: 80%;
        }
        .heading-amount{
          padding-top: 40px;

        }
        .form__text{
          width: 80%;
          
        }
        .remove-btn{
          text-decoration: none;
          color: black;
          .remove_fields.dynamic{
            text-decoration: none;
          }
        }
      }
    }
    .links{
      padding-top: 20px;
      padding-bottom: 20px;
      .icon-label{
        .icon{
          font-size: 30px;
        }
      }

    }
  }

  &__submit{
    padding-bottom: 40px;
    padding-top: 40px;
      
  }
}



