.new--wrapper{
  width: 700px;
  height: auto;
  margin: 0 auto;
  background-color: white;
  // overflow: scroll;
  a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    // border: solid 2px black;

    text-decoration: none;
    display: inline-block;
    max-width: 210px;
    text-align: left;
    border: 2px solid #9ec34b;
    font-size: 16px;
    color: #9ec34b;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;

  }
  a:hover {
    background-color: #9ec34b;
    border-color: #cbe585;
    color: #FFF;
  }

  &__top{
    font-size: 2em;
    position: relative;
    width: 100%;
    padding-left: 20px;


  }
  &__top:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 50%;
    height: 7px;
    box-sizing: border-box;

    border-top: 3px solid #f5d6a8;
    border-bottom: 1px solid #fff0c6;

  }
  .recipe-normal{

    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.2em;
    padding-left: 20px;

  }

  .form{
    padding: 0 20px;
    ul{
      color: red;
    }
  }
  

  &__recipeinfo{
    // border: solid 3px #f5d6a8;
    padding-bottom: 20px;

    &__title{
      padding-bottom: 40px;

      .heading-title{
        font-weight: 600;
        margin-bottom: 16px;
        padding-top: 30px;

      }

    }
    .form__title{
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-family: inherit;
      font-size: inherit;
      height: 48px;
      margin: 0;
      outline: none;
      padding: 0 16px;
    }
    &__serve{
      padding-bottom: 40px;

      .heading-serve{
        font-weight: 600;
        margin-bottom: 16px;
      }
      .form__serving{
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: inherit;
        font-size: inherit;
        height: 48px;
        margin: 0;
        outline: none;
        padding: 0 16px;
  
      }
    }
    &__ByEatTime{
      padding-bottom: 40px;

      .heading-ByEatTime{
        font-weight: 600;
        margin-bottom: 16px;
      }
      .form__time{
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: inherit;
        font-size: inherit;
        height: 48px;
        margin: 0;
        outline: none;
        padding: 0 16px;
  
      }
    }
    &__WorkTime{
      padding-bottom: 40px;

      .heading-WorkTime{
        font-weight: 600;
        margin-bottom: 16px;
      }
      .form__time{
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: inherit;
        font-size: inherit;
        height: 48px;
        margin: 0;
        outline: none;
        padding: 0 16px;
  
      }
    }
    &__oneword{
      padding-bottom: 40px;

      .heading-oneword{
        font-weight: 600;
        margin-bottom: 16px;
      }
      .form__oneword{
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        color: #222;
        font-size: 16px;
        margin: 0;
        outline: none;
        padding: 13px 16px;
        resize: vertical;
        vertical-align: middle;
        width: 100%;
        height: 154px;
  

      }
    }
    &__point{
      padding-bottom: 40px;

      .heading-point{
        font-weight: 600;
        margin-bottom: 16px;
      }
      .form__point{
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        color: #222;
        font-size: 16px;
        margin: 0;
        outline: none;
        padding: 13px 16px;
        resize: vertical;
        vertical-align: middle;
        width: 100%;
        height: 154px;
  

      }
    }

    &__form{
      margin-top: 16px;
      align-items: center;
      width: 100%;  
      padding-bottom: 40px;
      .heading-tag{
        font-weight: 600;
    margin-bottom: 16px;
      }
      &__tag{
        width: 100%;
        display: inline-block;
        position: relative;
        width: inherit; 
        select{
          width: 100%;
          height: 48px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          color: #222;
          font-size: 16px;
          margin: 0;
          padding: 13px 16px;
          resize: vertical;
          vertical-align: middle;
          margin-bottom: 20px;
        }
      }
    }


    &__image{
      padding-bottom: 40px;

      .heading-image{
        font-weight: 600;
        margin-bottom: 16px;
      }
      .form__image{
        width: 100%;
      }
    }
  }

  .WayOfCook{
    font-size: 1.3em;
    padding-top: 30px;
    border-top: 0.05rem  solid rgb(184, 184, 184);

  }

  &__HowToMake{
    padding-bottom: 40px;
    // border: solid 3px #f5d6a8;

    .nested-fields{
      .field{
        .heading-howto{
          padding-top: 40px;
          border-top: 0.05rem solid rgb(253, 153, 153);


        }
        .form__text{
          // width: 100%;
          // height: 4em;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          color: #222;
          font-size: 16px;
          margin: 0;
          outline: none;
          padding: 13px 16px;
          resize: vertical;
          vertical-align: middle;
          width: 100%;
          height: 154px;
        }
        .heading-howto{
          font-weight: 600;
          margin-bottom: 16px;
          padding-top: 30px;
        }
        .heading-howto-image{
          padding-top: 20px;
          font-weight: 600;
          margin-bottom: 16px;
        }
      }
      .remove-btn{
        padding-top: 40px;
 
      }
    }
    .links{
      padding-top: 20px;
      padding-bottom: 20px;
      text-decoration: none;

    }
  }

  .topIngredients{
    padding-top: 40px;
    font-size: 1.3em;
    border-top: 0.05rem  solid rgb(184, 184, 184);

  }

  &__ingredi{
    padding-bottom: 40px;
    // padding-top: 30px;
    // border-top: 0.05rem solid rgb(253, 153, 153);

    // border: solid 3px #f5d6a8;


    .nested-fields{
      .field{
        .heading-iname{
          border-top: 0.05rem solid rgb(253, 153, 153);

        }
        .form__text{
          width: 100%;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          font-family: inherit;
          font-size: inherit;
          height: 48px;
          margin: 0;
          outline: none;
          padding: 0 16px;
        }
        .heading-iname{
          font-weight: 600;
          margin-bottom: 16px;
          padding-top: 30px;
        }
        .heading-amount{
          padding-top: 40px;
          font-weight: 600;
          margin-bottom: 16px;
          padding-top: 30px;

        }
        .form__text{
          width: 100%;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          font-family: inherit;
          font-size: inherit;
          height: 48px;
          margin: 0;
          outline: none;
          padding: 0 16px;
          
        }
        .remove-btn{
          text-decoration: none;
          color: black;
          .remove_fields.dynamic{
            text-decoration: none;
            display: inline-block;
            max-width: 180px;
            text-align: left;
            border: 2px solid #9ec34b;
            font-size: 16px;
            color: #9ec34b;
            font-weight: bold;
            padding: 8px 16px;
            border-radius: 4px;
            transition: .4s;
            
            
          }
          .remove_fields.dynamic:hover {
            background-color: #9ec34b;
            border-color: #cbe585;
            color: #FFF;
          }

        }
      }
    }
    .links{
      padding-top: 20px;
      padding-bottom: 20px;
      .icon-label{
        .icon{
          font-size: 30px;
        }
      }

    }
  }

  &__submit{
    padding-bottom: 40px;
    padding-top: 40px;
    border-top: 0.05rem  solid rgb(184, 184, 184);

    
  .submit-bottun{
    text-align: center;
    margin: 0 auto;
    display: block;
    display: flex;
    justify-content: center;
    // display: inline-block;
    width: 250px;
    text-align: left;
    background-color: #293b6a;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border: 1px dashed #FFF;
    box-shadow: 0px 0px 0px 5px #293b6a;/* box-shadowで外枠を */
    
  }
  .submit-bottun:hover {
    border-style: solid;
    }
  
}

}

#result_recipelist_add{
  width: 220px;
  background-color: #fdb14d;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  display: none;
  // &__text{
  //   color: #fff;
  //   display: block;
  //   font-size: 20px;
  //   text-decoration: none;
  //   margin-bottom: 5px;
  // }
  // &__icon{
  //   width: 60px;
  // }
}



