.user{
  width: 80%;
  margin: 0 auto;


.user-show{
  overflow-x: scroll;

.user-show--wrapper{
  // display: flex;
  // flex-wrap: wrap;
  // padding-left: 8%;
  // padding-right: 8%;
  margin: 0 auto;
  width: 90%;

  display: inline-block;
white-space: nowrap;
  .recipe--wrapper{
    height: 372px;
    width: 275px;
    background-color: blue($color: #000000);
    // margin: 0 auto;
    margin-bottom: 45px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    margin-right: 20px;

    display:inline-block;



    &__photo{
      height: 275px;
      width: 100%;
      .photosize{
        height: 275px;
        width: 100%;
        // background-image: 100%;
        // image-rendering: auto;
        // image-rendering: crisp-edges;
        // image-rendering: pixelated;
        // max-width: 100%;
        // height: auto;
        // object-fit: cover;

        

      }
      .mask{
        opacity: 0;
        display: flex;
        // background-color: rgba($color: 0,0,0,0,4);
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        position: absolute;
        top: 0;
        height: 45px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        align-items: center;

        .caption1{
          display: inline-block;
          padding: 0.2em .8em;
          border-radius: 15px;
          text-decoration: none;
          color: #000000;
          background: #aefabe;
          font-size: 0.9em;
          height: 50%;
          bottom: 0;

        }
        .caption2{
          display: inline-block;
          padding: 0.2em .8em;
          border-radius: 15px;
          text-decoration: none;
          color: #000000;
          background: #faa4be;
          font-size: 0.9em;
          height: 50%;

        }
        .caption3{
          display: inline-block;
          padding: 0.2em .8em;
          border-radius: 15px;
          text-decoration: none;
          color: #000000;
          background: #fcc47c;
          font-size: 0.9em;
          height: 50%;

        }
      }

    }

    &__recipe{
      background-color: white;
      height: 97px;
      &__name{
        display: flex;
        justify-content: space-between;
        &__recipename{
          .title-deco{
            text-decoration: none;
            color: #2c2424;
            font-style: italic;
            font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
            padding-left: 16px;
            font-size: 15px;

          }
        }
        &__nickname{
          .nickname-deco{
            text-decoration: none;
            color: black;
            padding-right: 16px;
            font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;

          }
        }
      }

      &__oneword{
        height: 50px;
        font-size: 0.6em;
        padding-left: 16px;
        font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;


      }
      &__bottom{
        display: flex;
        justify-content: space-between;
        &__like{
          font-size: 13px;
          padding-left: 16px;
          font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;


        }

        &__time{
          font-size: 13px;
          padding-right: 16px;
          font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;


        }
      }
      
    }

  }

}
}


.user-like{
  overflow-x: scroll;

.user-like--wrapper{

  // display: flex;
  // flex-wrap: wrap;
  // padding-left: 8%;
  // padding-right: 8%;


  
  margin: 0 auto;
  width: 90%;

  display: inline-block;
white-space: nowrap;
  .recipe--wrapper{
    height: 372px;
    width: 275px;
    background-color: blue($color: #000000);
    // margin: 0 auto;
    margin-bottom: 45px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    margin-right: 20px;

    display:inline-block;



    &__photo{
      height: 275px;
      width: 100%;
      .photosize{
        height: 275px;
        width: 100%;



        // background-image: 100%;
        // image-rendering: auto;
        // image-rendering: crisp-edges;
        // image-rendering: pixelated;
        // max-width: 100%;
        // height: auto;
        // object-fit: cover;

        

      }
        
      
    }

    &__recipe{
      background-color: white;
      height: 97px;
      &__name{
        display: flex;
        justify-content: space-between;
        &__recipename{
          .title-deco{
            text-decoration: none;
            color: #2c2424;
            font-style: italic;
            font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
            padding-left: 16px;
            font-size: 15px;

          }
        }
        &__nickname{
          .nickname-deco{
            text-decoration: none;
            color: black;
            padding-right: 16px;
            font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;

          }
        }
      }

      &__oneword{
        height: 50px;
        font-size: 0.6em;
        padding-left: 16px;
        font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;


      }
      &__bottom{
        display: flex;
        justify-content: space-between;
        &__like{
          font-size: 13px;
          padding-left: 16px;
          font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;


        }

        &__time{
          font-size: 13px;
          padding-right: 16px;
          font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;


        }
      }
      
    }

  }

}
}

}