body{
  background-color:white;
  min-width: 650px;
  

  .header{
    z-index: 50;
    height: 56px;
    width: 100%;
    padding: 0 150px;
    background-color: #5e4a4a;
    color: #fff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    &__title{
      font-size: 30px;
      line-height: 56px;
      &--text{
        text-decoration: none;
        color: #fff;
      }
    }
    &__right{
      &--btn{
        text-decoration: none;
        line-height: 56px;
        color: #fff;
        margin-left:15px;
      }
    }
  }
  .contents{
    // margin: 30px auto 0;
    padding-top: 86px;
    background-color: #fbf0f0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
  }
}