<% if model.errors.any? %>
    <div class = "alert alert-warning">
    <h3>入力した内容にエラーが<%= model.errors.count %>件あります</h3>
        <ul>
            <% model.errors.full_messages.each do |message| %>
            
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>